.cl {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.cl-cnt {
    justify-content: center;
}

.lg-name {
    height: 150px;
    margin-bottom: 15px;
    filter: drop-shadow(0 0 5px #C3E3E6);
}

[data-theme="light"] .lg-name {
    display: none;
}

.lg-name-light {
    height: 150px;
    margin-bottom: 15px;
    filter: drop-shadow(0 0 5px #081525);
}

[data-theme="dark"] .lg-name-light {
    display: none;
}

.main-wrapper {
    justify-content: center;
}