.col {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.col-center {
    justify-content: center;
}

.logo-name {
    height: 150px;
    margin-bottom: 15px;
    filter: drop-shadow(0 0 5px #C3E3E6);
}

.logo-name-light {
    height: 150px;
    margin-bottom: 15px;
    filter: drop-shadow(0 0 5px #081525);
}